@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    margin: 0;
    background-image: url("./images/kitchen.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    top: 0;
    z-index: -1;
}

* {
    box-sizing: border-box;
}
#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background: #24252A;
    height: 100px;
}

#navbar nav {
    display: flex; 
    gap: 20px;
    justify-content: center;
    align-items: center;
}

nav > button {
    font-family: "Dancing Script", cursive;
    border: none;
    background-color: transparent;
    font-size: 30px;
    color: white;
    transition: transform .5s ease, color .5s ease;
}

nav > button:hover {
    color: #ffb366;
    cursor: pointer;
    transform: translateY(-2px);
}


#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-card {
    margin-top: 100px;
    background: rgba(36, 37, 42, 0.85);
    border-radius: 20px;
    padding: 20px 20px;
    width: 40vw;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
    backdrop-filter: blur(5px); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.7);
}

#intro-title {
    font-family: "Dancing Script", cursive;
    font-size: 42px;
    margin-bottom: 10px;
    color: #ffcc99; 
}

#intro-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #ffe6cc; 
}

#intro-subtitle::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffb366;
    margin-top: 10px;
}


#intro-description {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    color: #ffffffcc; 
}

#menu-container {
    background: rgba(36, 37, 42, 0.85);
    width: 60%;
    color: #f8f4e3;
    margin: 40px;
    padding: 50px 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display:flex;
    flex-direction: column;

}

#menu-container:hover {
    box-shadow: 0 15px 40px rgba(0,0,0,0.7);
}

.menu-sections {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    background-color: #ffffff;
}

.menu-sections h2 {
    color: #b85c38; 
    font-family: "Dancing Script", cursive;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.item-container {
    display: flex;
    flex-direction: row;
    margin: 0px 50px;
    
}

.menu-item {
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 300px;
    padding: 30px;
    margin: 20px auto; 
    border: 2px solid #d4c4a8; 
    border-left: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.menu-item:first-child {
    border-left: 2px solid #d4c4a8;
}

.menu-item:hover {
  box-shadow: 0 6px 14px rgba(0,0,0,0.2);
  border: 2px solid #b85c38; 
}

.menu-item h3 {
    font-size: 18px;
    text-decoration: underline;
    color: #4b3832; 
    margin-bottom: 18px;
    margin-top: 0;
}

.menu-item p {
    font-size: 15px;
    color: #5c5c5c; 
    margin: 0;
    max-width: 300px;
}

#about-div {
    background-color: #24252A;
    width: 50%;
    color: #f8f4e3;
    margin: 40px;
    padding: 50px 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display:flex;
    flex-direction: column;
}

#leaders-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.leader-card {
    position: relative;          
    height: 400px;
    width: 250px;                
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;   
    align-items: center;         
}


.leader-name {
    position: absolute;                
    bottom: 0;                         
    width: 100%;                       
    background: rgba(36,37,42,0.7);    
    color: #ffcc99;
    font-family: "Dancing Script", cursive;
    font-size: 28px;
    text-align: center;
    padding: 8px 0;
    margin: 0;
}



#staff-title {
    font-family: "Dancing Script", cursive;
    font-size: 42px;
    margin-bottom: 10px;
    color: #ffcc99; 
}

#staff-intro {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #ffe6cc; 
}
